<link rel="stylesheet" href="/css/footer.css">

<footer id="bootstrap-overrides" class="navbar navbar-inverse col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div id="sth3" class="container">
    <div class="row">
      <div class="col-sm-3" style="float: left;">
        <h2 style="padding-left: 0px;  margin-left: -40px;" id="logoFooter" class="logo"><a href="http://enactus.org"><img class="block" id="u1128_img" alt="" width="200" height="200" src="/images/logo.png?crc=3813963679"></a></h2>
      </div>
      <div class="col-sm-3">
        <h4>Enactus</h4>
        <div class="font">
          <p><span style="color:yellow; font-size:18px;">En</span>trepreneurial - igniting business</br>innovation with integrity and passion.</p>
          <p><span style="color:yellow; font-size:18px;">Act</span>tion - he experience of social</br>impact that sparks social enterprise.</p>
          <p><span style="color:yellow; font-size:18px;">Us</span> - students & business leaders</br>collaborating to create a better world.</p>
        </div>
      </div>
      <div class="col-sm-2">
        <h4>Social:</h4>
        <div class="font2">
          <div display="inline">
            <li><img alt="" width="20" height="20" src="/images/download.jpg"><a style="color:white;" href="https://www.facebook.com/enactusegypt.guc/"> Facebook</a></li>
          </div>
          <div display="inline">
            <li><img alt="" width="20" height="20" src="/images/square-twitter-256.png"><a style="color:white;" href="http://twitter.com/enactusguc"> Twitter</a></li>
          </div>
          <div display="inline">
            <li><img alt="" width="20" height="20" src="/images/app-icon2.png"><a style="color:white;" href="http://instagram.com/enactusguc"> Instagram</a></li>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <h4>Contact Us:</h4>
        <div class="font2">
          <li><span style="color: yellow">Facebook Messenger:</span>
            <p> @enactusegypt.guc</p>
          </li>
          <li><span style="color: yellow">E-mail:</span>
            <p> enactus.guc@gmail.com</p>
          </li>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p align="Center">© 2018 All Rights Reserved </p>
  </div>
</footer>
