<div style="margin-bottom: 0!important; z-index: 100;" class="navbar navbar-default navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img style="float: left; position: absolute; z-index: 1000;" class="enactusWorldwide" id="u11512_img" alt="" width="53" height="53" src="/images/logo%202%20final.png?crc=525983663"/>
      <a style="padding-left: 55px;" class="navbar-brand" href="http://enactus.org">Enactus Worldwide</a>
    </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul style="padding-left: 150px; z-index: 100;" class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="products.html" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-tag"></span> Products <b class="caret"></b></a>
          <ul class="dropdown-menu" style="z-index: 1000;">
            <li><a href="/products">All Products</a></li>
            <li><a href="/product/light-unit">Light Unit</a></li>
            <li><a href="/product/frame">Frame</a></li>
            <li><a href="/product/pencil-order">Pencil Order</a></li>
            <li><a href="/product/tire-chair-painted">Tire Chair Painted</a></li>
            <li><a href="/product/tire-chair-kettan">Tire Chair Kettan</a></li>
            <li><a href="/product/clock">Galaxy Clock</a></li>
            <li><a href="/product/shelf">Cardboard Shelf</a></li>
            <li><a href="/product/chair">Cardboard Chair</a></li>
            <li><a href="/product/plastic-rug">Plastic Rug</a></li>
            <li><a href="/product/basket">Basket</a></li>
            <li><a href="/product/plastic-pot">Plastic Pot</a></li>
            <li><a href="/product/coaster">Coaster</a></li>
          </ul>
        </li>
        <li style="padding-left: 150px; z-index: 100;"><a href="about.html" style="pointer-events: none"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="z-index: 100;">
        <li class="dropdown">
          <a style="z-index: 100;" href="Index.html" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-home"></span> Home <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/">Home Page</a></li>
            <li><a href="/#sth">Our Mission</a></li>
            <li><a href="/#sth2">Global Goals</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
