<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <title>All Products</title>

    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/product.css">
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <div class="parent">


      <img class="image1" src="/images/background.jpg" />
      <img class="image2" src="/images/download1.png" />
      <img class="image3" alt="PRODUCTS" width="411" height="50" src="/images/u6015-4.png?crc=371811511" data-orig-id="u6015-4">

      <div class="move wrapper">

        <div class="box">
          <img src="/images/11.jpg" class="image4">
          <img src="/images/u6043-4.png" class="image7">
          <a href="/product/light-unit"><img class="image10" alt="ORDER NOW" src="/images/u15530.png"></a>
        </div>
        <div class="box">
          <img src="/images/22.jpg" class="image5">
          <img src="/images/u6044-43.png" class="image8">
          <a href="/product/frame"><img class="image11" alt="ORDER NOW" src="/images/u15530.png"></a>
        </div>
        <div class="box">
          <img src="/images/33.jpg" class="image6">
          <img src="/images/u6045-43.png" class="image9">
          <a href="/product/pencil-order"><img class="image12" alt="ORDER NOW" src="/images/u15530.png"></a>
        </div>

        <div class="box">
          <img src="/images/44.jpg" class="image13">
          <img src="/images/u24744-43.png" class="image8">
          <a href="/product/tire-chair-painted"><img class="image11" alt="ORDER NOW" src="/images/u15530.png"></a>
        </div>
        <div class="box">
          <img src="/images/55.jpg" class="image14">
          <img src="/images/u24630-43.png" class="image8">
          <a href="/product/tire-chair-kettan"><img class="image11" alt="ORDER NOW" src="/images/u15530.png"></a>
        </div>
        <div class="box">
          <img src="/images/66.jpg" class="image15">
          <img src="/images/u24516-43.png" class="image8">
          <a href="/product/clock"><img class="image11" alt="ORDER NOW" src="/images/u15530.png"></a>
        </div>

        <div class="box">
          <img src="/images/77.jpg" class="image22">
          <img src="/images/u24402-43.png" class="image8">
          <a href="/product/shelf"><img class="image11" alt="ORDER NOW" src="/images/u15530.png"></a>
        </div>
        <div class="box">
          <img src="/images/88.jpg" class="image23">
          <img src="/images/u25200-43.png" class="image8">
          <a href="/product/chair"><img class="image11" alt="ORDER NOW" src="/images/u15530.png"></a>
        </div>
        <div class="box">
          <img src="/images/99.jpg" class="image24">
          <img src="/images/u25314-43.png" class="image8">
          <a href="/product/plastic-rug"><img class="image11" alt="ORDER NOW" src="/images/u15530.png"></a>
        </div>

        <div class="box">
          <img src="/images/1010.jpg" class="image31">
          <img src="/images/u25086-4.png" class="image8">
          <a href="/product/basket"><img class="image11" alt="ORDER NOW" src="/images/u15530.png"></a>
        </div>
        <div class="box">
          <img src="/images/1111.jpg" class="image32">
          <img src="/images/u24972-43.png" class="image8">
          <a href="/product/plastic-pot"><img class="image11" alt="ORDER NOW" src="/images/u15530.png"></a>
        </div>
        <div class="box">
          <img src="/images/1212.jpg" class="image33">
          <img src="/images/u24858-43.png" class="image8">
          <a href="/product/coaster"><img class="image11" alt="ORDER NOW" src="/images/u15530.png"></a>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
